@import "~react-image-gallery/styles/css/image-gallery.css";

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.circular-btn {
  border-radius: 30px;
}

.circular-btn:hover {
  background-color: #274494;
}

.menu-item {
  background-color: white;
  color: #202328;
  border: none;
  border-radius: 0;

  &::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #202328;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }

  &:hover {
    background-color: transparent;
    color: #202328;

    &::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}

.active {
  &::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus,
.image-gallery-thumbnail:hover {
  border: none;
  overflow: hidden;
  opacity: .5;
}

.image-gallery-icon:hover {
  color: #2E8B57;
}

.product__btn {
  position: relative;
  border-radius: 0;
  width: 50%;
  height: 40px;
  overflow: hidden;
  text-transform: uppercase;
  box-shadow: none;
}

.product__btn:hover {
  background-color: white;
  box-shadow: none;
}

.product__btn:hover .product__btn-icon{
  top: -100%;
}

.product__btn:hover .product__btn-text {
  bottom: 0;
}

.product__btn-icon{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
}

.product__btn-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -100%;
  left: 0;
  color: #232323;
  transition: all .3s ease-in-out;
  font-size: 11px;
}

main {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0;
}

@media (max-width: 900px) {
  main {
    padding: 20px;
  }
}
